In [166]:
#import required packages
import pandas as pd
import h2o
from collections import Counter
import numpy as np

In [171]:
#Prepare the data frame
data = pd.read_csv('Nashville.csv')
data.columns = ['date', 'name1', 'name2', 'draft', 'color', 'splash', 'lands', '1/2 drops', 'rares', 'r1', 'r2', 'r3',
               'exceed', 'failed', 'camp', 'x1', 'x2']
data['color2'] = [x.strip(' ').split(',') for x in data.color]
data['name'] = data.name1.fillna(data.name2)
data['white'] = [1 if 'White' in colors else 0 for colors in data.color2]
data['blue'] = [1 if 'Blue' in colors else 0 for colors in data.color2]
data['black'] = [1 if 'Black' in colors else 0 for colors in data.color2]
data['red'] = [1 if 'Red' in colors else 0 for colors in data.color2]
data['green'] = [1 if 'Green' in colors else 0 for colors in data.color2]
data['wins'] = [Counter(x)['Win'] for x in zip(data.r1, data.r2, data.r3)]
data['losses'] = [Counter(x)['Lose'] for x in zip(data.r1, data.r2, data.r3)]

In [188]:
#Find colorcombination win Percentages
data.groupby('color').agg({'wins':'sum', 'losses':'sum'})

              losses  wins
color
Black, Green       3     3
Black, Red         2     1
Blue               0     3
Blue, Black        7     5
Blue, Green        5     3
Blue, Red          1     2
Red                1     2
Red, Green         3     6
White, Black       2     4
White, Blue        3     5
White, Green       3     3
White, Red         5     8

In [180]:
data.groupby('draft').agg({'white':'sum', 'blue':'sum', 'black':'sum', 'red':'sum', 'green':'sum'})

       blue  red  white  black  green
draft
1         3    0      3      1      0
2         3    1      3      1      0
3         2    2      4      1      0
12        1    0      0      0      0
999       0    1      2      0      0

In [181]:
data.groupby('rares').agg({'wins':'sum', 'losses':'sum'})

       losses  wins
rares
0           3     7
1           9    12
2          17    14
3           4     8
4           2     1
6           0     3

In [184]:
data.groupby('wins').rares.mean()

wins
0    1.500000
1    1.777778
2    1.888889
3    2.000000
Name: rares, dtype: float64